body{
    background-color: rgb(54, 69, 79);
    font-family:  Poppins, Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-content{
    
    margin-left: 50px;
    display:flex;
    flex-direction: row;
    /*background-color: blueviolet;*/
    margin-left: 80px;
}

.left-content {
    color:white;
    padding-top: 100px;
    display:flex;
    flex-direction: column;

}

.left-content #abt-me{
    font-size: 14px;
    font-style: italic;
}

.left-content p {
    margin: 0px 4px;
    font:400; 
    font-size: 50px;    
}


.download-btn-container{
    
    height:50px;
    width: 150px;
    margin-top:80px;
    margin-left: 25%;
    margin-right: 25%;
    align-content: center;
    
    border-color: rgb(94, 91, 91);
    border-radius: 15px;
    border-width: 1.5px;
    border-style: solid;
    font :400;
}

.download-btn-container .download-button{
    border: none;
    background-color: rgb(54, 69, 79);
    color:white;
    font: Poppins;
}

.right-content{
    background-color: lightblue;

  
}